# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Frontend
frontend/node_modules/
frontend/.env
frontend/.env.*
frontend/dist/
frontend/.vite/
backend/.webpack/
backend/.serverless/
coverage/

# Backend
backend/node_modules/
backend/.env
backend/.env.*
backend/.vite

# Env files (keep secrets out of git)
.env
.env.*
!.env.example


# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
